<h3 mat-dialog-title>Edit Project</h3>
<!-- <div mat-dialog-content>
  <p>THIS IS A PROJECT FORM</p>
</div> -->
<form mat-dialog-content [formGroup]="form" (submit)="onFormSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field class="disabled">
    <mat-label class="disabled">Location</mat-label>
    <input matInput formControlName="location" class="disabled" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      matInput
      formControlName="description"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
    ></textarea>
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-flat-button (click)="onCancelClick()">Close</button>
  <button mat-flat-button color="primary" [disabled]="isSaveBttnDisabled()" (click)="onSaveClick()">
    Save
  </button>
</div>
