:host {
  height: 100%;
}

.projects {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projects__searchbar {
  padding: 20px 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__searchbar__input {
  flex: 1;
  max-width: 800px;
}

.full__width__input {
  width: 100%;
}

.projects__list {
  padding-left: 16px;
  height: 100%;
}

.project__row {
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
}

.project__row > div {
  flex: 1 1 0px;
  padding: 16px 16px 0 0;
  width: 50px;
}
