<div class="projects">
  <pt-tool-bar></pt-tool-bar>

  <ng-container *ngIf="vm$ | async as vm">
    <form
      class="projects__searchbar"
      *ngIf="searchForm$ | async as searchForm"
      [formGroup]="searchForm"
    >
      <div class="projects__searchbar__input">
        <mat-form-field class="full__width__input">
          <mat-label>Search</mat-label>
          <input
            matInput
            (keyup)="onInputKeyUp(searchForm)"
            formControlName="search"
          />
        </mat-form-field>
      </div>
    </form>

    <cdk-virtual-scroll-viewport class="projects__list" [itemSize]="rowHeight">
      <div
        class="project__row"
        *cdkVirtualFor="let projectchunk of vm.projects"
      >
        <!-- projects -->
        <div *ngFor="let project of projectchunk">
          <pt-projectcard [project]="project"></pt-projectcard>
        </div>
        <!-- Filler in case there are not enough projects to fill the row -->
        <div *ngFor="let i of fillRow(projectchunk.length)"></div>
      </div>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</div>
