<div class="projects">
  <pt-tool-bar></pt-tool-bar>

  <ng-container *ngIf="vm$ | async as vm">
    <form class="projects__searchbar">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput />
      </mat-form-field>
    </form>

    <cdk-virtual-scroll-viewport class="projects__list" [itemSize]="rowHeight">
      <div
        class="project__row"
        *cdkVirtualFor="let projectchunk of vm.projects"
      >
        <!-- <div @card *ngFor="let project of projectchunk"> -->
        <div *ngFor="let project of projectchunk">
          <pt-projectcard [project]="project"></pt-projectcard>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</div>
