:host {
  height: 100%;
}

.projects {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projects__searchbar {
  padding: 20px 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__searchbar__input {
  flex: 1;
  max-width: 800px;
}

.full__width__input {
  width: 100%;
}

.projects__list {
  height: 100%;
  display: flex;
  position: relative;
}

.projects__list__loading {
  position: absolute;
  z-index: 10;

  margin: 0 16px;
  width: calc(100% - 32px);
  height: 100%;

  background-color: #c8c8c87f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__list__noprojects {
  padding: 0 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.projects__list_virtualscroll {
  flex: 1;
}

.project__row {
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
}

.project__row > div {
  flex: 1 1 0px;
  padding: 0 16px 16px 0;
  width: 50px;
}
