.app{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app__loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ccc8;
  display: flex;
  align-items: center;
  justify-content: center;
}


.content {
  flex-grow: 1;
  display: flex;
  padding-top: 10px;
  justify-content: center;
}
