@use 'sass:map';
@use '@angular/material' as mat;

// $config:    mat.get-config($theme);
// $primary: map.get($config, 'primary');
// $accent:  map.get($config, 'accent');
// $warn:    map.get($config, 'warn');
// $is-dark-theme:   map.get($config, 'is-dark');

@mixin color($theme) {
  $config: mat.get-color-config($theme);
  $primary: map.get($config, 'primary');
  $accent: map.get($config, 'accent');
  $warn: map.get($config, 'warn');

  .custom-snackbar {
    --mdc-snackbar-container-color: none;
    --mdc-snackbar-supporting-text-color: none;
    --mat-mdc-snack-bar-button-color: none;
    border-radius: var(
      --mdc-snackbar-container-shape,
      var(--mdc-shape-small, 4px)
    );
    margin-top: 80px !important;
  }

  .mat-mdc-snack-bar-container {
    &.accent-snackbar {
      background-color: mat.get-color-from-palette($accent, 500);
      color: mat.get-contrast-color-from-palette($accent, default-contrast);
    }
    &.primary-snackbar {
      background-color: mat.get-color-from-palette($primary, 500);
      color: mat.get-contrast-color-from-palette($primary, 500);
    }
    &.warn-snackbar {
      background-color: mat.get-color-from-palette($warn, 500);
      color: mat.get-contrast-color-from-palette($warn, 500);
    }
  }
}

@mixin theme($theme) {
  $config: mat.get-color-config($theme);
  @if $config != null {
    @include color($theme);
  }
}
