<mat-card class="list-card">
  <mat-card-header>
    <!-- TODO: Image -->
    <!-- <div mat-card-avatar *ngIf="project.status !== 3"></div> -->
    <mat-card-title [ngClass]="{ 'list-card__justHeader': isUnregistered() }">
      <!-- <mat-card-title> -->
      {{ isUnregistered() ? "/" + project.location : project.name }}
    </mat-card-title>
    <mat-card-subtitle *ngIf="!isUnregistered()">
      /{{ project.location }}
    </mat-card-subtitle>
    <div class="projectCard__Status">
      {{ printStatus() }}
    </div>
    <button
      mat-icon-button
      class="projectCard__Expand"
      aria-label="Expand"
      (click)="toggleDetails()"
    >
      <mat-icon *ngIf="!detailsVisible">expand_more</mat-icon>
      <mat-icon *ngIf="detailsVisible">expand_less</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <form
      *ngIf="detailsVisible"
      class="list-card__form"
      [formGroup]="projectForm"
      (ngSubmit)="onProjectFormSubmit()"
    >
      <table class="list-card__form__element">
        <tr>
          <td>
            <mat-form-field class="list-card__form__element">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="list-card__form__element">
              <mat-label>Location</mat-label>
              <input matInput formControlName="location" />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field class="list-card__form__element">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit">
        {{ isUnregistered() ? "Create" : "Update" }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
