<mat-card>
  <mat-card-header class="card__header text-oneline">
    <mat-card-title>
      {{ getProjectName() }}
    </mat-card-title>
  </mat-card-header>
  <div class="card__img">
    <div *ngIf="loading" class="card__img__spinner">
      <mat-spinner></mat-spinner>
    </div>
    <img
      mat-card-image
      class="card__img__content"
      [ngStyle]="getImageStyle()"
      (load)="onImgLoad()"
      src="{{ getImageLocation(project?.imageLocation) }}"
      [alt]="project?.name || 'image'"
    />
  </div>
  <mat-card-content class="card_content">
    {{ getStatus() }}
    <!-- <p>{{ project?.description }}</p> -->
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>A</button>
    <button mat-button>B</button>
  </mat-card-actions> -->
</mat-card>
