.card__header {
  margin-bottom: 10px;
  font-weight: 500;
}

.card__img {
  aspect-ratio: 1 / 1;
  max-width: 100%;
}

.card__img__spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card__img__content {
  aspect-ratio: 1 / 1;
  width: 100%;
  transition: opacity 0.5s;
  object-fit: cover;
}

.card_content {
  margin-top: 10px;
}

.text-oneline ::ng-deep * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
