<mat-card>
  <mat-card-header class="text-oneline">
    <mat-card-title>{{ project?.name || 'No Name' }}</mat-card-title>
  </mat-card-header>
  <!-- src="{{ project?.imageLocation || '/assets/default.png' }}" -->
  <img
    class="cardimg"
    mat-card-image
    src="{{ getImageLocation(project?.imageLocation) }}"
    alt="{{ project?.name || 'image' }}"
  />
  <mat-card-content>
    {{ getStatus() }}
    <!-- <p>{{ project?.description }}</p> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>A</button>
    <button mat-button>B</button>
  </mat-card-actions>
</mat-card>
